---
logger:
  console:
    active: true
    level: debug
    format:
      color: true
      time: false
      aligned: true

  file:
    active: true
    filename: test-application.log

audit: # set to false to fully deactivate
  storage:
    active: true
    path: "./test-database/"

  syslog:
    formats:
      test: # for 'log/test' event.type
        template: "{userid} {type} createdBy:{createdBy} streamIds:{streamIds} {content.message}"
        level: notice 
      test-filtered: # for 'log/filtered' event.type
        plugin: "./config/syslog-plugins/test-filtered.js"
        level: notice # can be overriden by plugin