node_modules
# netbeans IDE
nbproject
app-web-auth3/node_modules
configs
.git
dump.rdb
dist

# skip build related files except for dockerized-config
docker/production-with-ssl
docker/production-no-ssl
rec.la-certificates
docker/local/dhparam.pem
docker/local/docker-compose.no-ssl.yml
docker/local/docker-compose.with-ssl.yml
docker/local/Dockerfile
docker/build-local.sh

# volume data
var-pryv/

# non functional files
README.md