.idea
.project
.settings
.DS_Store
.eslintcache
node_modules/
components/*/node_modules/
**/coverage.html
**/npm-debug.log
**/profiling-output.txt
**/v8.log
!node_modules/components
proxy/nginx.conf
service-core.iml
/out
.nyc_output/
.v8-coverage/
.c8_output/
build_tag
build/core/release.tar
build/hfs/release.tar
build/preview/release.tar
build/release.tar
build/test/pryv/*/backup
build/test/pryv/*/data
build/test/pryv/*/log
security-assessment
/test-results/
/coverage/
var-pryv*
*.log
learn-config
external-ressources/
components/api-server/config/override-config.yml
config/override-config.yml

# netbeans IDE
nbproject/

