<h1><span style="color:#bd1026">Hey</span> #{USERNAME},</h1>

<h2><span style="color:#bd1026">Thanks for creating your Health Data Safe account</span></h2>

<p style="text-align: justify;">We have built HDS so you could have a private and secure place to collect and unite your personal digital life. Connect apps and devices, get insight and share selectively.<br/></p>

<p style="text-align: center;">Information you entrusted us with:<br/>
<strong>Email</strong>: #{EMAIL}<br/>
