p Bonjour,
p Il paraît que vous avez oublié votre mot de passe Pryv. Si vous avez bien demandé la réinitialisation de votre mot de passe, merci de cliquer sur le lien ci-dessous. Si ce n'était pas vous, merci de supprimer cet email.
p <a href="#{RESET_URL}?resetToken=#{RESET_TOKEN}" target="_blank">Cliquez içi</a> pour réinitialiser votre mot de passe.
p L'équipe Pryv
